[client]
port		= 3306

[mysqld_safe]
nice		= 0

[mysqld]
innodb_file_per_table
innodb_log_file_size=4000mb
character-set-server=UTF8MB4
lower_case_table_names=1
sql_mode='NO_ENGINE_SUBSTITUTION'

innodb_ft_max_token_size=35

#wait_timeout =  10 produzione - se lascio questa valore impossibile fare il debug
wait_timeout =  60
connect_timeout = 1
interactive_timeout=  1
innodb_lock_wait_timeout = 60000

join_buffer_size = 40M
key_buffer_size = 0
max_connections = 200

tmp_table_size = 40M
max_heap_table_size = 40M
sort_buffer_size = 16M

innodb_buffer_pool_size = 7G

port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
skip-name-resolve
performance-schema = true

max_allowed_packet = 4096M
thread_stack		= 256K
thread_cache_size = 8

log-error=/var/log/mysql/error.log


slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log      = 1
long_query_time = 5

server-id		= 1

expire_logs_days	= 10
max_binlog_size         = 100M

relay-log = /var/lib/mysql/slave-relay.log
relay-log-index = /var/lib/mysql/slave-relay-log.index

expire_logs_days        = 15
max_binlog_size         = 500M

slave-skip-errors = 1062

[mysqldump]
quick
quote-names
max_allowed_packet	= 500M